<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Microcredentials{% endblock %}</title>
</head>
<body>
    {% if not user.is_superuser %}
        <main>
            {% block content %}
            {% endblock %}
        </main>
        {% block controls %}
            {% if profile.user.id != user.id %}
                <div>
                    <br/>
                    <a href="{% url 'cert-user-detail' %}">My profile</a>
                </div>
            {% endif %}
            <div>
                <br/>
                <a href="/logout/">Logout</a> {{ user.get_full_name }}
            </div>
        {% endblock %}
    {% else %}
        <div>
            <br/>
            Click <a href="{% url 'admin:index' %}">here</a> if you are administrator
        </div>
    {% endif %}
</body>
</html>