<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Microcredentials{% endblock %}</title>
</head>
<body>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    {% block controls %}
        <div>
            <br/>
            <a href="{% url 'cert-user-detail' %}">Home</a>
        </div>
        <div>
            <br/>
            <a href="/logout/">Logout</a> {{ user.get_full_name }}
        </div>
    {% endblock %}
</body>
</html>