{% extends 'base.html' %}

{% block content %}
    <h1>Certificates of {{ profile }}</h1>
    {% for credential in object_list %}
        <li>
            {{ credential.title }} - {{ credential.issuer.organization }}
            <a href="{% url 'cert-credential-detail' credential.id %}">View</a>
        </li>
    {% empty %}
        <li>No Certificates</li>
    {% endfor %}
    <div>
        <button type="button" href="">New certificate</button>
    </div>
    <div>
        <a href="{% url 'cert-user-list' %}">Back</a>
    </div>
{% endblock %}