{% extends 'base.html' %}
{% load replace_underscore %}

{% block content %}
    <h1>Issue certificate for {{ owner_profile }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% for field in content_fields %}
        <p>
            <label for="id_{{ field }}">{{ field|replace_underscore|title }}:</label>
            <input type="text" name="{{ field }}" id="id_{{ field }}" required>
        </p>
        {% endfor %}
        <input type="submit" value="Create">
        <a href="{% url 'cert-user-detail' owner_profile.user_id %}">Back</a>
    </form>
{% endblock %}