{% extends 'base.html' %}
{% load replace_underscore %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">New certificate</div>
            <div class="card-body">
                <div class="form-group">
                    <label>Issued to:</label>
                    <strong class="form-control font-weight-bold">{{ owner_profile }}</strong>
                </div>
                {% for field in form %}
                    <div class="form-group">
                        <label>{{ field.label|replace_underscore|title }}:</label>
                        <input class="form-control" type="text" name="{{field.name }}" required>
                    </div>
                {% endfor %}
                {% for field in content_fields %}
                    <div class="form-group">
                        <label>{{ field|replace_underscore|title }}:</label>
                        <input class="form-control" type="text" name="{{ field }}" required>
                    </div>
                {% endfor %}
                <div class="mt-4 d-block d-lg-none">
                    <button class="btn btn-success btn-block" type="submit">Submit</button>
                    <a class="btn btn-secondary btn-block" href="{% url 'cert-user-detail' owner_profile.user_id %}">Cancel</a>
                </div>
                <div class="mt-4 d-none d-lg-block">
                    <a class="btn btn-secondary" href="{% url 'cert-user-detail' owner_profile.user_id %}">Cancel</a>
                    <button class="btn btn-success" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}