{% extends 'base.html' %}
{% load render_from_string %}

{% block content %}
    <h1>{{ object.owner }}</h1>
    <h2>{{ object.title }}</h2>
    <h3>{{ object.issuer.organization }}</h3>
    <h4>{% render_from_string object.issuer.cert_template %}</h4>
    <h4>{{ object.content }}</h4>
    <h4>{{ content }}</h4>
    <h4>{{ object.transaction_id }}</h4>
    <h4>STATUS: {{ object.status }}</h4>
    <div>
        <button type="submit" href="">Verify</button>
    </div>
    <div>
        <br/>
        <a href="{% url 'cert-user-credential-list' object.owner_id %}">Back</a>
    </div>
{% endblock %}