{% extends 'base.html' %}
{% load render_from_string %}

{% block content %}
    <div class="text-wrap text-truncate">
        {% render_from_string object.issuer.cert_template|default:"{{ object.title }} (no certificate template)" %}
    </div>
    <div class="mt-4 d-block d-lg-none">
        {% if perms.cert.verify_credentials %}
            <button class="btn btn-success btn-block" type="submit" href="">Verify certificate</button>
        {% endif %}
        {% if object.issuer_id == user.id %}
            <button class="btn btn-danger btn-block" type="submit" href="">Revoke certificate</button>
        {% endif %}
        <a class="btn btn-primary btn-block" href="{% url 'cert-user-detail' object.owner_id %}">{% if object.owner_id == user.id %}My profile{% else %}Back to owner{% endif %}</a>
    </div>
    <div class="mt-4 d-none d-lg-block">
        <a class="btn btn-primary" href="{% url 'cert-user-detail' object.owner_id %}">{% if object.owner_id == user.id %}My profile{% else %}Owner{% endif %}</a>
        {% if perms.cert.verify_credentials %}
            <button class="btn btn-success" type="submit" href="">Verify</button>
        {% endif %}
        {% if object.issuer_id == user.id %}
            <button class="btn btn-danger" type="submit" href="">Revoke</button>
        {% endif %}
    </div>
{% endblock %}