{% extends 'base.html' %}
{% load render_from_string %}

{% block content %}
    <div class="text-wrap text-truncate">
        {% render_from_string object.issuer.cert_template|default:"{{ object.title }} (no certificate template)" %}
    </div>
    {% if perms.cert.verify_credentials %}
        <div class="mt-4">
            <button class="btn btn-dark" type="submit" href="">Verify</button>
        </div>
    {% endif %}
    {% if object.issuer_id == user.id %}
        <div class="mt-4">
            <button class="btn btn-danger" type="submit" href="">Revoke</button>
        </div>
    {% endif %}
    <div class="mt-4">
        <a class="btn btn-primary" href="{% url 'cert-user-detail' object.owner_id %}">{% if object.owner_id == user.id %}Back{% else %}Owner{% endif %}</a>
    </div>
{% endblock %}