{% extends 'base.html' %}

{% block content %}
    <h1>Certificates of {{ profile }}:</h1>
    {% for credential in object_list %}
        <li>
            <span>{{ credential.title }} ({{ credential.issuer.organization }})</span>
            <a href="{% url 'cert-credential-detail' credential.id %}">View</a>
        </li>
    {% empty %}
        <li>No certificates owned</li>
    {% endfor %}
    {% if issued_credentials %}
        <h3>Issuer of the following certificates:</h3>
        {% for credential in issued_credentials %}
            <li>
                {{ credential.title }}, {{ credential.owner }} ({{ credential.status }})
            </li>
        {% endfor %}
    {% endif %}
    <div>
        <br/>
        <a href="{% url 'cert-user-detail' profile.user_id %}">Back</a>
    </div>
{% endblock %}