{% extends 'base.html' %}

{% block content %}
    <h1>{{ object }}</h1>
    {% if object.organization %}
        <h2>{{ object.organization }}</h2>
    {% endif %}
    <h3>{{ object.description }}</h3>
    <div>
        <a href="{% url 'cert-user-credential-list' object.user_id %}">List certificates</a>
    </div>
    <div>
        <a href="{% url 'cert-user-credential-create' object.user_id %}">Issue certificate</a>
    </div>
    <div>
        <br/>
        <a href="{% url 'cert-user-list' %}">Back</a>
    </div>
{% endblock %}