{% extends 'base.html' %}
{% load has_group %}

{% block content %}
    <h4 class="d-none d-md-block mb-4">Available users:</h4>
        {% for profile in object_list %}
            <a class="bs-callout bs-callout-{{ profile.user|has_group:"owners"|yesno:"primary,default" }} list-group-item list-group-item-action" href="{% url 'cert-user-detail' profile.user_id %}">
                <div class="d-flex w-100 justify-content-between">
                    <div>
                        <h5 class="mb-1">{{ profile.user.first_name }} {{ profile.user.last_name }}</h5>
                        <div>{{ profile.organization|default_if_none:"" }}</div>
                        <small>{{ profile.description|default_if_none:"" }}</small>
                    </div>
                    <small class="text-nowrap">Joined on<br>{{ profile.user.date_joined|date:"M j, Y" }}</small>
                </div>
                <div>
                    {% if profile.issued.all|length %}
                        <span class="badge badge-secondary">Issued: {{ profile.issued.all|length }}</span>
                    {% endif %}
                    {% if profile.owned.all|length %}
                        <span class="badge badge-info">Owned: {{ profile.owned.all|length }}</span>
                    {% endif %}
                </div>
            </a>
        {% empty %},
            <p class="lead">No available users</p>
        {% endfor %}
{% endblock %}